@font-face {
  font-family: "IRAN Sans";
  src: url("assets/IRANSansWeb.woff2") format("woff2");
}

body {
  font-family: "IRAN Sans", sans-serif;
  text-align: center;
}

.title {
  margin: 30px 0;
}

a {
  text-decoration: none;
}

.hint {
  font-size: 1.6em;
}

.changer {
  margin-bottom: 30px;
}

.time {
  font-size: 1.71em;
}

.end {
  margin-top: 20px;
}
